{
    "extends": "eslint-config-default",
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "no-undef": "error",
        "no-unused-vars":"error"
    },
    "overrides": [
        {
            "files": ["test/**/*.js"],
            "env": {
                "mocha": true
            }
        }
    ]
}