extends ./layout.pug
include ./tree-navigation.pug

block append head
  link(rel="stylesheet", href="blob.css")

block append content
  h2(class="content__header")=commit
  div(class="blob")
    +tree-navigation(navigation, "blob__navigation")
    pre(class="blob__content")=blob