extends ./layout.pug
include ./treeNavigation.pug

block append content
  div(class="blob")
    h2(class="blob__commit")=commit
    +treeNavigation(navigation, "blob__navigation")
    pre(class="blob__content")=blob