extends ./layout.pug

block append content
  ul(class="branch-list")
    each branch in branches
      li(class="branch-list__item")
        div(class="branch")
          span(class="branch__name")=branch.name
          a(class="branch__log", href=branch.logHref)="log"
          a(class="branch__tree", href=branch.treeHref)="tree"