extends ./layout.pug

block append head
  link(rel="stylesheet", href="log.css")

block append content
  h2(class="content__header")=commit="Log for " + branch
  ul(class="commits-list")
    each commit in commits
      li(class="commits-list__item")
        div(class="commit")
          span(class="commit__date")=commit.date
          span(class="commit__subject")=commit.subject
          a(class="commit__tree", href="/tree?commit=" + commit.hash)="tree"