extends ./layout.pug
include tree-navigation.pug

block append head
  link(rel="stylesheet", href="tree.css")

block append content
  h1(class="content__header")="Tree for " + commit
  +tree-navigation(navigation, "tree-page__navigation")
  ul(class="tree-list")
    each object in objects
      li(class="tree-list__item")
        -if (object.type === 'link-back')
          div(class="link-back")
            a(class="link-back__link", href=object.href)=".."
        -if (object.type === 'blob')
          div(class="blob-object")
            a(class="blob-object__link", href=object.href)=object.name
        -if (object.type === 'tree')
          div(class="tree-object")
            a(class="tree-object__link", href=object.href)=object.name