include ./treeNavigation.pug
doctype html
html
  head
    title="Blob"
  body
    div(class="blob-page")
      h1(class="blob-page__title")=branch
      +treeNavigation(navigation, "blob-page__navigation")
      div(class="blob")
        pre(class="blob__content")=blob