extends ./layout.pug
include ./treeNavigation.pug

block append head
  title="Blob"

block append content
  div(class="blob-page")
    h1(class="blob-page__title")=branch
    +treeNavigation(navigation, "blob-page__navigation")
    div(class="blob")
      pre(class="blob__content")=blob