doctype html
html
  head
    title="Branches"
  body
    ul(class="branch-list")
      each branch in branches
        li(class="branch-list__item")
          div(class="branch")
            span(class="branch__name")=branch
            a(class="branch__log", href="/log?ref=refs/heads/" + branch)="log"
            a(class="branch__tree", href="/tree?branch=refs/heads/" + branch)="tree"