doctype html
html
  head
    title="Log"
  body
    ul(class="commits-list")
      each commit in commits
        li(class="commits-list__item")
          div(class="commit")
            span(class="commit__subject")=commit.subject
            a(class="commit__tree", href="/tree?branch=" + commit.hash)="tree"